<br>
  <div class="container cntr" id="cntr" style="background-color: transparent;">
    <div class="row" style="background-color: rgb(172, 200, 201);">
        <div class="col" id="texthome">
            <h2>Home rent <br><br>renovations, <br><br>made easy!</h2>
        </div>
        <div class="col">
            <img src="../assets/bghome.jpg" class="img-fluid">
        </div>
    </div>


</div>
<br><br>

<div class="row">
    <div class="col-sm-4 offset-sm-2">
      <div class="card">
        <img class="card-img-top" src="../assets/tenant.jpg" alt="Card image cap">
        <div class="card-body">
          
          
          <a href="#" class="btn btn-primary">I'm a Tenant!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="card">
        <img class="card-img-top" src="../assets/landlord.jpeg" alt="Card image cap">
        <div class="card-body">
         
          <a href="#" class="btn btn-primary">I'm a Landlord!</a>
        </div>
      </div>
    </div>
  </div>

  <br><br><br>


