<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            
            <div class="card-body px-lg-5 py-lg-5">
              <h4>Home Details</h4>
              <form role="form">
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>


                <div class="form-group mb-3" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                      <select class="form-control" placeholder="Location" (focus)="focus=true" (blur)="focus=false">
            
                          <option value="1">Jakhan</option>
                               <option value="2">Rajpur Road</option>
                              <option value="3">Johri Gaon</option>
                              <option value="4">Makkawala</option>
                              <option value="3">Malsi</option>
                      </select>
                    
                  </div>
                </div>

                <div class="form-group mb-3" [ngClass]="{'focused':focus3===true}">
                  <div class="input-group input-group-alternative">
                      <select class="form-control" value="Type" (focus)="focus=true" (blur)="focus=false">
            
                          <option value="1">Flat</option>
                               <option value="2">Bungalow</option>
                              <option value="3">PG</option>
                      </select>
                    
                  </div>
                </div>

                <div class="form-group mb-3" [ngClass]="{'focused':focus4===true}">
                  <div class="input-group input-group-alternative">
                      <input class="form-control" type="number" placeholder="No. of Rooms" (focus)="focus=true" (blur)="focus=false">
                      
                  </div>
                </div>

                <div class="form-group mb-3" [ngClass]="{'focused':focus5===true}">
                  <div class="input-group input-group-alternative">
                      <select class="form-control" placeholder="Occupancy" (focus)="focus=true" (blur)="focus=false">
            
                          <option value="1">Single</option>
                               <option value="2">Sharing</option>
                  
                      </select>
                    
                  </div>
                </div>
                
                <div class="form-group mb-3" [ngClass]="{'focused':focus3===true}">
                  <div class="input-group input-group-alternative">
                      <select class="form-control" value="Status" (focus)="focus=true" (blur)="focus=false">
            
                          <option value="1">Available</option>
                               <option value="2">Rented</option>
                            
                      </select>
                    
                  </div>
                </div>

                <div class="form-group mb-3" [ngClass]="{'focused':focus3===true}">
                  <div class="input-group input-group-alternative">
                      <select class="form-control" value="Furnished" (focus)="focus=true" (blur)="focus=false">
            
                          <option value="1">Fully-Furnished</option>
                               <option value="2">Semi-Furnished</option>
                              <option value="3">Not Furnished</option>
                      </select>
                    
                  </div>
                </div>

                <div class="form-group mb-3" [ngClass]="{'focused':focus3===true}">
                  <div class="input-group input-group-alternative">
                       <textarea class="form-control" placeholder="Detailed Location" rows="3" cols="3"></textarea>

                    
                  </div>
                </div>

                  <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Rs.</span>
                    </div>
                    <input class="form-control" placeholder="Monthly Rent" type="number" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>

                      <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Rs.</span>
                    </div>
                    <input class="form-control" placeholder="Security Deposit" type="number" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>     

                <div class="form-group mb-3" [ngClass]="{'focused':focus3===true}">
                  <div class="input-group input-group-alternative">
                       <textarea class="form-control" placeholder="Details of Home" rows="3" cols="3"></textarea>

                    
                  </div>
                </div>     
               

        
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4">Add Home</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

